@charset "UTF-8";

/* Estilo para impressão */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 10px;
}

html {
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

header h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article h2 {
    text-transform: uppercase;
}

article p {
    font-family: Outfit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

article::after {
    content: 'Você acabou de ler uma versão deste artigo para impressora.';
}